

<!DOCTYPE html>
<html>
 <head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">          
 </head>
 <div class="container">
 <!-- <p><span
    class="glyphicon"
    [class.glyphicon-heart]="isLiked"
    [class.glyphicon-heart-empty]="!isLiked"
    (click)="onClick()">   
    </span></p> -->
    <span
    class="glyphicon glyphicon-heart"
    [class.highlighted]="isLiked"
    (click)="onClick()">   
    </span>
    <span>
        <p>
            {{likesCount}}
        </p>
    </span>
</div>
</html>
    

      